 .body {
 font-family: Arial, sans-serif;
 margin: 0;
 adding: 0;
 background-color: black;
 color: white;
 overflow: hidden;
 }    

 .h1 {
 margin-left: auto;
 }

.container {
 position: relative;
 margin: 20px;
 padding: 20px;
 
 
}

.footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    position: relative;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    text-align: center;
}
